<div class="icon-bar">
  <a class="active" href="https://www.aviasales.ru">HOLItravel</a> 
  <a href="#"></a> 
  <a href="/">Выбрать новую страну</a> 
  <a href="#">О создателе</a>
  <a href="#">Контакты</a> 
</div>
